@{
    Layout = "_Layout";
}
<body class="">
    <!--Page Area-->
    <div class="grid sp-5  ">

        <!--Changes Section-->
        <div class="  lg:block  px-8 ">
            <!--Title-->
            <h2 class="font-bold uppercase text-2xl p-2  text-orange-400 text-shadow-sm shadow-orange-300">
                About
            </h2>
            <!--Changes Box-->
            <div class="  bg-gray-100 shadow-lg shadow-orange-500/50   rounded-xl hover:shadow-xl hover:shadow-orange-500/50 duration-500 ">

                <p class="p-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit natus maiores cumque impedit
                    eligendi voluptates mollitia, nobis adipisci, explicabo praesentium dicta quas itaque corporis, perspiciatis
                    omnis. Officia quod dolore veritatis placeat ullam impedit. Voluptatem, necessitatibus, enim velit deserunt
                    quas tempora laudantium perspiciatis perferendis modi sunt nostrum alias minus consequuntur voluptatum.
                </p>
            </div>
        </div>


    </div>

</body>

</html>