@{
    Layout = "_Layout";
}

<body>
    <!--Page Area-->
    <div class="flex justify-center ">

        <!--Blog Section-->
        <div class="w-2/3 ">
            <!--Title-->
            <h2 class="font-bold uppercase text-2xl p-2  text-center text-green-400 text-shadow-sm shadow-green-300">
                Status
            </h2>
            <div class="bg-gray-100 shadow-lg shadow-green-500/50  rounded-xl   ">
                <!--Post Section-->
                <div class="flex items-center border-b-2 border-green-400  border-opacity-40 rounded-sm p-5">

                    <!--Post Details-->
                    <div class="flex-1">
                        <p>All systems are always operational. : <span>&#41;</span></p>
                    </div>
                    <div>
                        <p class="mr-3 opacity-50">06/12/2024 1:52</p>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <script>
        function toggleDropdown() {
            let dropdownMenuButton = document.querySelector('#dropdownMenu')
            dropdownMenuButton.classList.toggle("hidden")

        }
    </script>
</body>

